#app.go {
    grid-template-areas: "main"
                         "dashboard";
    grid-template-rows: minmax(100px, 1fr) minmax(100px, calc(max(100vh, 100vw) - min(100vh, 100vw)));
    &.focusBoard {
        grid-template-rows: min-content minmax(100px, calc(max(100vh, 100vw) - min(100vh, 100vw)));
    }
    #header {
        display: none;
    }
}

@media only screen and (min-width : 1200px) {
    #app {
        grid-template-areas: "header header"
                             "main dashboard";
        grid-template-rows: 80px 1fr;
        grid-template-columns: calc(100vh - 80px) 1fr;
        &.go {
            grid-template-areas: "main header"
                                 "main dashboard";
            grid-template-rows: 80px 1fr;
            grid-template-columns: min(100vw, 100vh) 1fr;
        }
        .show-board-button {
            display: none;
        }
        #header {
            display: flex!important;
        }
    }
}
